Create an empty list and print it.

In [1]:
a = list()
print(a)

[]

Create a list of your favorite colors and print it.

In [2]:
clrs = ['pink','yellow','peach','black']
print(clrs)

['pink', 'yellow', 'peach', 'black']

Create a list that includes a mix of data types (integers, strings, floats).

In [3]:
s = ['Manahil',20,3.77, True]
print(s)

['Manahil', 20, 3.77, True]

Access the first element of a list.

In [11]:
z = [1, 2, 3, 4, 5, 6, 7, 8, 9]
z[0]

1

Access the last element of a list.

In [12]:
z[-1]

9

 Access the second and third elements of a list.

In [13]:
z[1:3]

[2, 3]


Slice a list to extract the first three elements.

In [14]:
z[0:3]

[1, 2, 3]

Slice a list to extract the last three elements.

In [15]:
z[-3:]

[7, 8, 9]

Slice a list to get every second element.

In [17]:
z[::2]

[1, 3, 5, 7, 9]

Reverse a list using slicing.

In [19]:
z[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

 Create two lists and concatenate them.

In [20]:
a = [1,3,5,7,9]
b = [0,2,4,6,8]
a = a + b
a

[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]


Repeat a list multiple times using the repetition operator

In [23]:
c = b * 3
c

[0, 2, 4, 6, 8, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8]

Add a new element to the end of a list using the append() method.

In [25]:
b.append(63)
b

[0, 2, 4, 6, 8, '63', 63]


Extend a list with elements from another list using the extend() method.

In [26]:
b.extend(a)
b

[0, 2, 4, 6, 8, '63', 63, 1, 3, 5, 7, 9, 0, 2, 4, 6, 8]

Insert an element at a specific index in a list using the insert() method.

In [27]:
b.insert(6,10)
b

[0, 2, 4, 6, 8, '63', 10, 63, 1, 3, 5, 7, 9, 0, 2, 4, 6, 8]

 Remove the last element from a list using the pop() method.

In [28]:
b.pop()
b

[0, 2, 4, 6, 8, '63', 10, 63, 1, 3, 5, 7, 9, 0, 2, 4, 6]

Remove a specific element from a list using the remove() method.

In [29]:
b.remove(63)
b

[0, 2, 4, 6, 8, '63', 10, 1, 3, 5, 7, 9, 0, 2, 4, 6]

Clear all elements from a list.

In [30]:
b.clear()
b

[]

Delete an element at a specific index using the del statement.

In [32]:
del c[4]
c

[0, 2, 4, 6, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8]

Convert a string to a list of characters and vice-versa.

In [35]:
name = 'Manahil'
n = list(name)
print(n)
nm = ''.join(n)
nm

['M', 'a', 'n', 'a', 'h', 'i', 'l']

'Manahil'

Sort a list in ascending order using the sort() method.

In [36]:
c.sort()
c

[0, 0, 0, 2, 2, 2, 4, 4, 4, 6, 6, 6, 8, 8]


Sort a list in descending order using the sort() method.

In [39]:
c.sort(reverse =True)
c

[8, 8, 6, 6, 6, 4, 4, 4, 2, 2, 2, 0, 0, 0]

Reverse the order of a list using the reverse() method.

In [40]:
z.reverse()
z

[9, 8, 7, 6, 5, 4, 3, 2, 1]

Check if an element is present in a list using the in operator.

In [41]:
if 0 in z:
    print(0)

Compare two lists to see if they are equal in both value and identity.

In [42]:
print(a == b)

False

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [51]:

a = [1,3,5,7]
b = a
b[0] = 0
print(a,b)

[0, 3, 5, 7] [0, 3, 5, 7]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [54]:
import copy
original_list = [[1, 2, 3], [4, 5, 6]]
deep_copy = copy.deepcopy(original_list)


deep_copy[0][0] = 100


print("Original list:", original_list)
print("Deep copy:", deep_copy)

Original list: [[1, 2, 3], [4, 5, 6]]
Deep copy: [[100, 2, 3], [4, 5, 6]]

Pickle and Unpickle a list and display its content.

In [49]:
import pickle

my_list = [1, 2, 3, 4, 5]

with open('my_list.pkl', 'wb') as f:
    pickle.dump(my_list, f)

In [50]:
with open('my_list.pkl', 'rb') as f:
    unpickled_list = pickle.load(f)


print("Unpickled list:", unpickled_list)

Unpickled list: [1, 2, 3, 4, 5]