### Assignment-05 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [6]:
s = set()
print(s)

set()

  Create a set of your favorite colors and print it.

In [8]:
clrs = {"blue", "green", "purple"}
print(clrs)

{'green', 'purple', 'blue'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [17]:
m = {1, 2.5, "apple", "banana", 3, 4.7}

Access the elements of a set using a loop and print each element.

In [18]:
for i in m:
    print(i)

1
2.5
3
banana
apple
4.7

add a new element to a set using the add() method.

In [19]:
m.add('orange')

Add multiple elements to a set using the update() method.

In [20]:
m.update([4,5,6])

Remove and return an arbitrary element from a set using the pop() method.

In [21]:
i = m.pop()
i

1

Remove a specific element from a set using the remove() method.

In [22]:
m.remove(2.5)

Remove a specific element from a set using the discard() method.

In [23]:
m.discard(2.5)

Convert a string to a set of unique characters.

In [25]:
name = 'Manahil'
characters = set(name)
characters

{'M', 'a', 'h', 'i', 'l', 'n'}

Convert a set of characters to a string.

In [26]:
letters = ''.join(characters)

Use the clear() method to remove all elements from a set.

In [27]:
characters.clear()

Use the copy() method to create a shallow copy of a set.

In [28]:
m = {1, 2, 3, 4, 5}


m_copy = m.copy()

print("Original set:", m)
print("Shallow copy:", m_copy)

Original set: {1, 2, 3, 4, 5}
Shallow copy: {1, 2, 3, 4, 5}

Use the difference() method to find the difference between two sets.

In [30]:
a = {1, 2, 3, 4, 5}
b = {2, 6, 7, 8, 9}
print(a.difference(b))

{1, 3, 4, 5}

Create two sets and find their union.

In [29]:
a = {1, 2, 3, 4, 5}
b = {6, 7, 8, 9}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

    Create two sets and find their intersection.

In [31]:
print(a.intersection(b))

{2}

 Create two sets and find their difference.

In [32]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference_set = set1 - set2

    Create two sets and find their symmetric difference.

In [33]:
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

Check if one set is a subset of another.

In [35]:
set1.issubset(set2)

False

    Check if one set is a superset of another.

In [38]:
set1.issuperset(set2)

False

    Check if two sets are disjoint (have no common elements).

In [40]:
set1.isdisjoint(set2)

False