    Create an empty tuple and print it.

In [2]:
t = ()
print(t)

()

    Create a tuple of your favorite fruits and print it.

In [3]:
fruits = ("apple", "banana", "orange")
print(fruits)

('apple', 'banana', 'orange')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [4]:
mt = (1, 2.5, "apple", "banana", 3, 4.7)
print(mt)

(1, 2.5, 'apple', 'banana', 3, 4.7)

  Access the first element of a tuple.

In [5]:
mt[0]

1

    Access the last element of a tuple.

In [6]:
mt[-1]

4.7

Access the second and third elements of a tuple.

In [7]:
mt[1:3]

(2.5, 'apple')


    Slice a tuple to extract the first three elements.

In [8]:
mt[:3]

(1, 2.5, 'apple')

Slice a tuple to extract the last three elements.

In [9]:
mt[-3:]

('banana', 3, 4.7)

   Slice a tuple to get every second element.

In [10]:
mt[::2]

(1, 'apple', 3)

    Reverse a tuple using slicing.

In [11]:
mt[::-1]

(4.7, 3, 'banana', 'apple', 2.5, 1)

Create two tuples and concatenate them.

In [13]:
t1 = (1, 2, 3)
t2 = ('a', 'b', 'c')

concatenated_tuple = t1 + t2

    Repeat a tuple multiple times using the repetition operator.

In [17]:
mt = mt * 3
print(mt)

(1, 2.5, 'apple', 'banana', 3, 4.7, 1, 2.5, 'apple', 'banana', 3, 4.7, 1, 2.5, 'apple', 'banana', 3, 4.7)

Find the index of a specific element in a tuple using the index() method.

In [15]:
print(t1.index(2))

1

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [18]:
mt.count(2.5)

3

Sort a tuple of numbers in ascending order.

In [21]:
sorted(t1)

[1, 2, 3]

    Sort a tuple of strings in alphabetical order.

In [22]:
fruits = ('banana', 'apple', 'orange', 'grape')

sorted_tuple = tuple(sorted(fruits))

sorted_tuple

('apple', 'banana', 'grape', 'orange')

Sort a tuple of tuples based on the second element of each inner tuple.

In [23]:
my_tuple = ((1, 'b'), (2, 'a'), (3, 'c'), (4, 'e'), (5, 'd'))

sorted_tuple = tuple(sorted(my_tuple, key=lambda x: x[1]))

print("Sorted tuple:", sorted_tuple)

Sorted tuple: ((2, 'a'), (1, 'b'), (3, 'c'), (5, 'd'), (4, 'e'))

Compare two tuples to see if they are equal in both value and identity.

In [26]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
 

if tuple1 == tuple2:
    print("tuple1 and tuple2 are equal in value")


if tuple1 is tuple2:
    print("tuple1 and tuple2 are identical in memory")

tuple1 and tuple2 are equal in value

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [27]:

my_tuple = (1, 2, 3)


shallow_copy_tuple = my_tuple


try:
    shallow_copy_tuple[0] = 100  
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [28]:
import copy


original = ((1, 2), (3, 4), (5, 6))


deep_copy_tuple = copy.deepcopy(original)


try:
    deep_copy_tuple[0][0] = 100  
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

    Pickle a tuple and save it to a file.

In [34]:
import pickle


my_tuple = (1, 2, 3, 4, 5)


file_path = "my_tuple.pkl"


with open(file_path, "wb") as f:
    pickle.dump(my_tuple, f)

    Unpickle a tuple from a file and display its content.

In [33]:
with open(file_path, "rb") as f:
    t = pickle.load(f)
print(t)

(1, 2, 3, 4, 5)